.goldncrash-card {
  box-sizing: border-box;

  &.selectable {
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }
  &.selected {
    outline: 4px solid rgb(28, 175, 28);
  }

  width: $cardW;
  height: $cardH;
  border-radius: calc(var(--cardScale) * 30px);
  box-shadow: 2px 2px 6px -1px black;
  position: relative;
  .card-inner {
    border-radius: calc(var(--cardScale) * 30px);
  }

  &.horizontal,
  .chest-holder & {
    width: $cardH;
    height: $cardW;

    .card-inner {
      transform-origin: 50.5% 35%;
      transform: rotate(-90deg);
    }
  }

  .goldncrash-card {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.6s;
    &.fade-in {
      opacity: 1;
    }
  }

  &.shake-it {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;

    @keyframes shake {
      10% {
        transform: translate3d(-1px, 0, 0);
      }
      20% {
        transform: translate3d(2px, 0, 0);
      }
      30% {
        transform: translate3d(-4px, 0, 0);
      }
      50% {
        transform: translate3d(4px, 0, 0);
      }
      60% {
        transform: translate3d(-4px, 0, 0);
      }
      70% {
        transform: translate3d(4px, 0, 0);
      }
      80% {
        transform: translate3d(-2px, 0, 0);
      }
      90% {
        transform: translate3d(1px, 0, 0);
      }
      100% {
        transform: translate3d(0px, 0, 0);
      }
    }
  }

  .card-inner {
    width: $cardW;
    height: $cardH;
    box-sizing: border-box;
    border: 1px solid black;

    &[data-deck="CHAMOURAI"] {
      background-image: url("img/chamourai.jpg");
      background-size: 600% 400%;
    }
    &[data-deck="POULPIRATE"] {
      background-image: url("img/poulpirate.jpg");
      background-size: 600% 400%;
    }
    &[data-type="RED"] {
      &[data-value="1"] {
        background-position: 0% 0%;
      }
      &[data-value="2"] {
        background-position: 20% 0%;
      }
      &[data-value="3"] {
        background-position: 40% 0%;
      }
    }
    &[data-type="GREEN"] {
      &[data-value="1"] {
        background-position: 60% 0%;
      }
      &[data-value="2"] {
        background-position: 80% 0%;
      }
      &[data-value="3"] {
        background-position: 100% 0%;
      }
    }
    &[data-type="PURPLE"] {
      &[data-value="1"] {
        background-position: 0% 33.33%;
      }
      &[data-value="2"] {
        background-position: 20% 33.33%;
      }
      &[data-value="3"] {
        background-position: 40% 33.33%;
      }
    }
    &[data-type="BROWN"] {
      &[data-value="1"] {
        background-position: 60% 33.33%;
      }
      &[data-value="2"] {
        background-position: 80% 33.33%;
      }
      &[data-value="3"] {
        background-position: 100% 33.33%;
      }
    }
    &[data-type="BLUE"] {
      &[data-value="1"] {
        background-position: 0% 66.66%;
      }
      &[data-value="2"] {
        background-position: 20% 66.66%;
      }
      &[data-value="3"] {
        background-position: 40% 66.66%;
      }
    }
    &[data-type="YELLOW"] {
      &[data-value="4"] {
        background-position: 60% 66.66%;
      }
      &[data-value="6"] {
        background-position: 80% 66.66%;
      }
    }
    &[data-type="BALLOON"] {
      &[data-value="back"] {
        background-position: 100% 66.66%;
      }
      &[data-value="1"] {
        background-position: 40% 100%;
      }
      &[data-value="2"] {
        background-position: 20% 100%;
      }
      &[data-value="3"] {
        background-position: 0% 100%;
      }
    }
    &[data-type="BACK"] {
      background-position: 60% 100%;
    }

    &[data-deck="GUEST"] {
      background-image: url("img/guests.jpg");
      background-size: 300% 300%;
      &[data-id="1"] {
        background-position: 50% 0%;
      }
      &[data-id="2"] {
        background-position: 100% 0%;
      }
      &[data-id="3"] {
        background-position: 0% 50%;
      }
      &[data-id="4"] {
        background-position: 50% 50%;
      }
      &[data-id="5"] {
        background-position: 100% 50%;
      }
      &[data-id="6"] {
        background-position: 0% 100%;
      }
      &[data-id="7"] {
        background-position: 50% 100%;
      }
      &[data-id="8"] {
        background-position: 100% 100%;
      }
    }
  }
}

.card-tooltip {
  --cardScale: 0.8;
  display: flex;
  position: relative;

  .card-id {
    position: absolute;
    left: 15px;
    top: 0;
    background: yellow;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 7px;
    box-shadow: 2px 2px 5px black;
  }

  .card-desc {
    margin-left: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
}
