.hand {
    display: flex;
    justify-content: space-evenly;
}

#goldncrash-main-container {
    display: flex;
    flex-flow: column;
    align-items: center;

    .goldncrash-player-board {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .side-zone {
            display: flex;
            flex-flow: column;
            margin-right: 10px;
            min-width: calc(var(--cardScale) * 5 * #{$cardWidth} + 10px);

            .hand-holder {
                background: red;
                height: $cardH;
            }

            .side-zone-holder {
                background: blue;
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                .discard-holder {
                    margin: 0px 5px 0px 10px;
                    background: green;
                    width: $cardW;
                    height: $cardH;
                }

                .banner-chest-holder {
                    display: flex;
                    flex-flow: column;
                    margin: 0px 5px;

                    .banner-holder {
                        background: orange;
                        width: $cardH;
                        height: $cardW;
                    }
                    .chest-holder {
                        background: yellow;
                        width: $cardH;
                        height: $cardW;
                    }
                }

                .deck-holder {
                    margin: 0px 10px 0px 5px;
                    background: green;
                    width: $cardW;
                    height: $cardH;
                }
            }
        }

        .columns-zone {
            display: flex;

            .column-holder {
                width: $cardH;
                display: flex;
                flex-flow: column;
                align-items: center;

                .column-cards-holder {
                    width: $cardW;
                    min-height: $cardH;
                    background: grey;
                }

                .zeppelin-holder {
                    width: $cardH;
                    height: $cardW;
                    background: black;
                }

                .guest-holder {
                    height: $cardH;
                    width: $cardW;
                }
            }
        }

        &#bottom-player {
            .side-zone {
                .hand-holder {
                    order: 2;
                }

                .side-zone-holder {
                    order: 1;

                    .banner-chest-holder {
                        .banner-holder {
                            order: 2;
                        }
                        .chest-holder {
                            order: 1;
                        }
                    }
                }
            }

            .columns-zone {
                .column-holder {
                    .column-cards-holder {
                        order: 3;
                    }

                    .zeppelin-holder {
                        order: 2;
                    }

                    .guest-holder {
                        order: 1;
                    }
                }
            }
        }
    }
}
