.hand {
    display: flex;
    justify-content: space-evenly;
}

#goldncrash-main-container {
    display: flex;
    flex-flow: column;
    align-items: center;

    .goldncrash-player-board {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .side-zone {
            display: flex;
            flex-flow: column;
            margin-right: 10px;
            min-width: calc(var(--cardScale) * 5 * #{$cardWidth} + 20px);

            .hand-holder {
                height: $cardH;
                padding: 5px 0px;
            }

            .side-zone-holder {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                .discard-holder {
                    margin: 0px 5px 0px 10px;
                    width: $cardW;
                    height: $cardH;
                    position: relative;

                    .goldncrash-card {
                        position: absolute;
                        top: 0;
                    }
                }

                .banner-chest-holder {
                    display: flex;
                    flex-flow: column;
                    margin: 0px 5px;

                    .banner-holder {
                        width: $cardH;
                        height: $cardW;
                        margin: 2px 0px;

                        &::before {
                            content: "";
                            display: block;
                            width: $cardW;
                            height: $cardH;
                            transform-origin: 50.5% 35%;
                            transform: rotate(-90deg);
                            background-size: 600% 400%;
                            background-position: 100% 100%;
                            border-radius: calc(var(--cardScale) * 30px);
                            box-sizing: border-box;
                            border: 1px solid black;
                            box-shadow: 2px 2px 6px -1px black;
                        }
                    }
                    .chest-holder {
                        margin: 2px 0px;
                        background: yellow;
                        width: $cardH;
                        height: $cardW;
                    }
                }

                .deck-holder {
                    margin: 0px 10px 0px 5px;
                    width: $cardW;
                    height: $cardH;
                    background-size: 600% 400%;
                    background-position: 60% 100%;
                    border-radius: calc(var(--cardScale) * 30px);
                    box-sizing: border-box;
                    border: 1px solid black;
                    box-shadow: 2px 2px 6px -1px black;
                }
            }
        }

        .columns-zone {
            display: flex;

            .column-holder {
                width: $cardH;
                margin: 0px 5px;
                display: flex;
                flex-flow: column;
                align-items: center;

                .column-cards-holder {
                    width: $cardW;
                    min-height: $cardH;
                    border: 1px dashed black;
                    border-radius: calc(var(--cardScale) * 30px);

                    &.selectable {
                        border-color: red;
                        cursor: pointer;
                        &:hover {
                            border-style: solid;
                        }
                    }
                    &.selected {
                        border: 1px solid green;
                        outline: 2px solid green;
                    }
                }

                .zeppelin-holder {
                    width: $cardH;
                    height: $cardW;
                    margin: 5px 0px;
                }

                .guest-holder {
                    height: $cardH;
                    width: $cardW;
                }
            }
        }

        &#bottom-player {
            .side-zone {
                .hand-holder {
                    order: 2;
                }

                .side-zone-holder {
                    order: 1;

                    .banner-chest-holder {
                        .banner-holder {
                            order: 2;

                            &::before {
                                background-position: 80% 100%;
                            }
                        }
                        .chest-holder {
                            order: 1;
                        }
                    }
                }
            }

            .columns-zone {
                .column-holder {
                    .column-cards-holder {
                        order: 3;
                    }

                    .zeppelin-holder {
                        order: 2;
                    }

                    .guest-holder {
                        order: 1;
                    }
                }
            }
        }

        &[data-character="Poulpirate"] {
            .side-zone {
                .side-zone-holder {
                    .deck-holder {
                        background-image: url("img/poulpirate.jpg");
                    }
                    .banner-chest-holder {
                        .banner-holder::before {
                            background-image: url("img/poulpirate.jpg");
                        }
                    }
                }
            }
        }
        &[data-character="Chamourai"] {
            .side-zone {
                .side-zone-holder {
                    .deck-holder {
                        background-image: url("img/chamourai.jpg");
                    }

                    .banner-chest-holder {
                        .banner-holder::before {
                            background-image: url("img/chamourai.jpg");
                        }
                    }
                }
            }
        }
    }
}
